
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter


UXTerm*faceName: Ubuntu Mono for Powerline:style=Regular
XTerm*faceName: Ubuntu Mono for Powerline:style=Regular
XTerm*faceNameDoublesize: Ubuntu Mono for Powerline:style=Regular
XTerm*faceSize:11

URxvt*font: xft:Ubuntu\ Mono\ derivative\ Powerline:pixelsize=15:antialias=true:hinting=true
URxvt*boldFont: xft:Ubuntu\ Mono\ derivative\ Powerline:bold:pixelsize=15:antialias=true:hinting=true
URxvt*scrollBar: false
URxvt*scrollBar_right: false

XTerm*title: terminal
XTerm*geometry: 96x40
XTerm*termName:xterm-256color
XTerm*saveLines: 2000
XTerm*scrollBar: false
XTerm*scrollBar_right: false
XTerm*borderLess: false
XTerm*.urlLauncher: lynx
XTerm.letterSpace: -1
XTerm*utf8: 1
XTerm*locale: true
XTerm*utf8Title: true
XTerm*renderFont: true


!!!! Cumin !!!!

*background:#232323
*foreground:#857F68

!Negro-----------
*color0: #232323
*color8: #696969
!Rojo------------
*color1: #FF8EAF
*color9: #ED4C7A
!Verde------------
*color2:  #A6E25F
*color10: #A6E179
!Amarillo---------
*color3: #F8E578
*color11: #FFDF6B
!Azul-------------
*color4: #A6E2F0
*color12: #79D2FF
!Magenta----------
*color5: #E85B92
*color13: #BB5D79
!Cyan-------------
*color6: #758F5F
*color14: #98AF87
!Blanco-----------
*color7: #D5F1F2
*color15: #E2F1F6


